@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montreal;
  src: url(./fonts/NeueMontreal-Regular.ttf);
}
@font-face {
  font-family: founder;
  src: url(./fonts/FoundersGrotesk-Semibold.ttf);
}
